* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 4, 54);

}

.card {
    width: 200px;
    height: 40%;
    background-color: blueviolet;
    color: blanchedalmond;
    border-radius: 20px;
    filter: drop-shadow(10px 10px 2px #000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-header {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
}

img {
    border-radius: 50%;
    width: 30%; 
    height: auto;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
    text-decoration: underline;
}
